:root {
  --primary-color: #7231f7;
  --secondary-color: #e7def9;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 60px auto;
  text-align: center;
  background-color: var(--secondary-color);
}

.heading-center {
  text-align: center;
  margin: 0;
}

.heading1 {
  font-size: 96px;
}

.heading2 {
  font-size: 48px;
}

.heading3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.presentation-text {
  margin-top: 100px;
  text-align: center;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav a {
  text-decoration: none;
  text-transform: capitalize;
}

#img-intro {
  margin-top: 50px;
  box-shadow: var(--box-shadow);
  color: white;
}

.about-title {
  margin-top: 120px;
}

.about-paragraphs p {
  display: flex;
  margin: 30px 10px;
  text-align: center;
  background: none;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.github-link {
  color: var(--primary-color);
  text-decoration: none;
}

.email-link:hover,
.github-link:hover {
  text-decoration: underline;
  color: #636363;
}

.buttons {
  display: flexbox;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
  padding: 15px 10px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.body-text {
  text-align: left;
  background: none;
  padding-left: 0;
  font-size: 18px;
}

.buttons:hover,
.contact-link:hover,
.about-link:hover {
  color: var(--secondary-color);
}

.homepage-image {
  margin: auto;
  max-width: 80%;
  text-align: center;
}

@media (max-width: 576px) {
  h1.heading1 {
    font-size: 50px;
  }
  h2.heading2 {
    font-size: 30px;
    text-align: center;
  }
  h3.heading3 {
    font-size: 15px;
    opacity: 0.7;
  }
  .email-link {
    margin-top: 10px;
    font-size: 18px;
  }
  p.body-text {
    text-align: center;
  }
  .buttons {
    display: flexbox;
    justify-content: center;
    margin: auto;
  }

  img {
    display: none;
  }
}
